*{
    box-sizing: border-box;
}
nav ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    /* justify-content: space-between; */
}

a{
    padding: 10px;
    text-decoration-line: none;
    
}
ul{
    list-style-type: none;
}

nav ul{
    padding-left: 20px;
}

.new-meetup{
    display: flex;
    justify-content: flex-end;   
}

video{
    width: 1800px;
    height: 400px;
    object-fit: fill;
}

.center-intro{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.how-it-works{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    /* align-items: center; */
    margin: 15px;
}
.insights{
    text-align: center;
}



footer{
    display: flex;
    justify-content: center;
}

/*******Card styles*******/
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
    width: 80%;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: center;
    padding: 13px;
    margin-bottom: 13px;
    flex: 0 1 24%;
    
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  .view-meetup {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }  
  button:hover, a:hover {
    opacity: 0.7;
  }